/var/
/vendor/

# ------------------------------------------------------------------------------
# Editor configuration directories
# ------------------------------------------------------------------------------
/.idea/
/.vscode/
/.zed/

# ------------------------------------------------------------------------------
# Misc
# ------------------------------------------------------------------------------
.DS_Store
