includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/shipmonk/dead-code-detector/rules.neon
parameters:
	level: 10
	paths:
	 - ./src
	 - ./tests
	excludePaths:
	 - ./tests/Fixtures
